*{
    margin: 0;
    padding: 0;
}

iframe{
    width: 550px;
    height: 550px;
}

.eu{
    display: flex;
    width: 100%;
    height: 550px;
    justify-content: center;
    align-items: center;
}
.imgstyle{
    width: 30%;
}